{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} MenuUpdate | {{block.super}} {% endblock title %}
{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock head_extra %}
{% block content %}
<br><br><br>
<div class="row">
	<div class="col-md-4 offset-md-4">
		<form action="" method="post">
			{% csrf_token %}
			{{ form }}<br>
			<center>
				<input type="submit" class="btn btn-info" value="Update">
			</center>
		</form>
	</div>
</div>



{% endblock content %}

