.team-member,
.team-member .team-img {
  position: relative;
}

.team-member {
  overflow: hidden;
}

.team-member,
.team-member .team-img {
  position: relative;
}

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.90);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.team-member:hover .team-hover .desk {
  top: 35%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}

.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px;
}

.desk,
.desk h4,
.team-hover .s-link a {
  text-align: center;
  color: #222;
  text-transform: capitalize;
}
.desk p {
    font-size: 14px;
    letter-spacing: .5px;
}

.team-member:hover .team-hover .s-link {
  bottom: 10%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}

.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 10px;
}

/*SOME THING DELETED*/

.team-title {
  position: static;
  padding: 20px 0 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}

.team-title h5 {
  margin-bottom: 0px;
  display: block;
     font-size: 21px;
    color: #000;
}

.team-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  letter-spacing: 1px;
}


.heading{
  font-weight: bolder;
  font-size:39px;
}