{% extends 'base.html' %}
{% block title %} Delete Student | {{block.super}} {% endblock title %}
{% block content %}<br><br>
<div class="container">
	<div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
		<h4>Are you sure you want to delete "{{ instance.name }}" whose mobile no. is {{ instance.mobile }}</h4>
		<form method='post' action=".">{% csrf_token %}
			<center><button type="submit" class="btn btn-danger">Confirm</button>
			<a href="instance.get_absolute_url" class="btn btn-primary">Cancel</a></center>
		</form>
	</div>
</div>
<style type="text/css">
	
	h4{
		color:red;
	}
</style>
{% endblock content %}